.card {
  .header {
    background-color: #f1f1f1;
    padding: 10px;
    font-weight: bold;
  }
  .body {
    padding: 10px;
  }
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    font-weight: bold;
  }
}
